@font-face {
  font-family: "Inter";
  font-style:  normal;
  font-weight: normal;
  font-display: swap;
  src: url("./inter-regular.woff2") format("woff2"),
       url("./inter-regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style:  normal;
  font-weight: bold;
  font-display: swap;
  src: url("./inter-bold.woff2") format("woff2"),
       url("./inter-bold.woff") format("woff");
}
